:host {
  --modal-bg-overlay: rgba(0, 0, 0, 0.4);
  --modal-content-bg: #ffffff;
  --modal-close-color: #aaa;
  --modal-close-hover: #000000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-overlay);
  overflow: auto;
  padding-top: 60px;
}

.modal.show {
  display: block;
}

.mb-16 {
  margin-bottom: 16px;
}

.modal-content {
  background-color: var(--modal-content-bg);
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.close {
  color: var(--modal-close-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--modal-close-hover);
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .form-container {
    padding: 16px;
    margin: 20px auto;
  }

  .modal-content {
    width: 90%;
    padding: 16px;
  }

  .modal-content form div {
    margin-bottom: 1rem;
  }
  
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
    margin: 10px;
    padding: 12px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .action-buttons button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}
