<div class="lista-container">
  <h2 class="title">Lista de Dados Cadastrados</h2>
  <div class="styled-grid" *ngIf="isSmallScreen">
    <div
      *ngFor="let reg of registrations; let i = index"
      class="data-card"
      [class.striped]="i % 2 === 1"
    >
      <div class="data-card-content">
        <div><strong>Nome:</strong> {{ reg.name }}</div>
        <div><strong>CPF:</strong> {{ formatCpf(reg.cpf) }}</div>
        <div><strong>Telefone:</strong> {{ formatPhone(reg.phone) }}</div>
        <div><strong>Email:</strong> {{ reg.email }}</div>
      </div>
      <div class="action-buttons">
        <button (click)="onEdit(i)" *ngIf="reg.acoes != 'N'">✏️ Editar</button>
        <button (click)="onDelete(i)" *ngIf="reg.acoes != 'N'">🗑️ Excluir</button>
        <span *ngIf="reg.acoes === 'N'" class="badge badge-info">
          Dado exclusivo
        </span>
      </div>
    </div>
  </div>

  <table class="styled-table" *ngIf="!isSmallScreen">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let reg of registrations; let i = index"
        [class.striped]="i % 2 === 1"
      >
        <td>{{ reg.name }}</td>
        <td>{{ formatCpf(reg.cpf) }}</td>
        <td>{{ formatPhone(reg.phone) }}</td>
        <td>{{ reg.email }}</td>
        <td class="action-buttons">
          <button (click)="onEdit(i)" *ngIf="reg.acoes != 'N'">
            ✏️ Editar
          </button>
          <button (click)="onDelete(i)" *ngIf="reg.acoes != 'N'">
            🗑️ Excluir
          </button>
          <span *ngIf="reg.acoes === 'N'" class="badge badge-info">
            Dado exclusivo
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-edit-modal-info
  [showModal]="showModal"
  [editedRegister]="editedRegister"
  (close)="closeModal()"
  (save)="onSave($event)"
>
</app-edit-modal-info>
